{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title> {% block title %}
		My Website
		{% endblock title %} </title>
    <link rel="icon" href="{% static 'images/fav.png' %}" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/weather-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


    <style>
        /* width and height of the scrollbar */
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        
    }
    
    /* style of the scrollbar thumb */
    ::-webkit-scrollbar-thumb {
        background: #555;
    }
    
    /* style of the scrollbar track */
    ::-webkit-scrollbar-track {
        background: #ccc;
    }
    
    </style>
</head>

<body>
    
    <div class="theme-layout">

        <div class="postoverlay"></div>

        <div class="responsive-header">
            <div class="mh-head first Sticky" {% if request.path == '/videos' %}style="background: #212529; padding: 5px;"{% else %} style="background: #fff; padding: 5px;"{% endif %} >
                
			</span>
                <span class="mh-text">
				{% block logo %}<a href="/" title=""><img style="margin-right: 220px;" src="{% static 'images/facebook-logo-blue.png' %}" alt=""></a>{% endblock logo %}
			</span>
			</span>
                <span class="mh-btns-right">
				<a href="newsfeed.html" style="color: #555; background: rgb(248, 246, 246); border-radius: 20px;" title=""><i class="fas fa-search"></i></a>
				<a href="newsfeed.html" style="color: #555; background: rgb(248, 246, 246); border-radius: 20px;" title=""><i class="fas fa-cog"></i></a>
			</span>
                
            </div>
            
        </div>
        <div class="responsive-header">
            <div class="mh-head first Sticky" {% if request.path == '/videos' %}style="background: #212529; padding: 5px;"{% else %} style="background: #fff; padding: 5px;"{% endif %} >
                <span class="mh-text">
				<a style="padding: 8px 17px; {% if request.path == '/' %} color: #1877f2 {% else %} color: #555{% endif %};" href="{% url 'core:newsfeed' %}" title=""><i class="fa-solid fa-house"></i></a>
				<a style="padding: 8px 17px; {% if request.path == '/friend-requests' %} color: #1877f2 {% else %} color: #555{% endif %};" href="{% url 'core:friend-requests' %}" title=""><i class="fa-solid fa-user-group"></i></a>
				<a style="padding: 8px 17px;  color: #555;" href="#" title=""><i class="fa-brands fa-facebook-messenger"></i></a>
				<a style="padding: 8px 17px; {% if request.path == '/videos' %} color: #1877f2 {% else %} color: #555{% endif %};" href="{% url 'core:videos' %}" title=""><i class="fa-solid fa-film"></i></a>
				<a style="padding: 8px 17px;  color: #555;" href="#" title=""><i class="fa-solid fa-bell"></i></a>
				<a style="padding: 8px 17px;  color: #555;" href="#" title=""><i class="fa-solid fa-people-group"></i></a>
			</span>
                
            </div>
            
        </div>
        <!-- responsive header -->

        <div class="topbar stick">
            <div class="logo">
                <a title="" href="newsfeed.html"><img src="{% static 'images/fb-logo.png' %}" alt=""></a>
            </div>
            <div class="top-area">
                <div class="main-menu">
                    <span>
			    	<i class="fa fa-braille"></i>
			    </span>
                </div>
                <div class="top-search">
                    <form method="post" class="">
                        <input type="text" placeholder="Search People, Pages, Groups etc">
                        <button data-ripple><i class="ti-search"></i></button>
                    </form>
                </div>
                
                <ul class="setting-area">
                    
                    <li>
                        <a href="#" title="Notification" data-ripple="">
						<i class="fa fa-bell"></i><em class="bg-purple">7</em>
					</a>
                        <div class="dropdowns">
                            <span>4 New Notifications <a href="#" title="">Mark all as read</a></span>
                            <ul class="drops-menu">
                                <li>
                                    <a href="notifications.html" title="">
                                        <figure>
                                            <img src="{% static 'images/resources/thumb-1.jpg' %}" alt="">
                                            <span class="status f-online"></span>
                                        </figure>
                                        <div class="mesg-meta">
                                            <h6>sarah Loren</h6>
                                            <span>commented on your new profile status</span>
                                            <i>2 min ago</i>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="notifications.html" title="">
                                        <figure>
                                            <img src="{% static 'images/resources/thumb-2.jpg' %}" alt="">
                                            <span class="status f-online"></span>
                                        </figure>
                                        <div class="mesg-meta">
                                            <h6>Jhon doe</h6>
                                            <span>Nicholas Grissom just became friends. Write on his wall.</span>
                                            <i>4 hours ago</i>
                                            <figure>
                                                <span>Today is Marina Valentine’s Birthday! wish for celebrating</span>
                                                <img src="{% static 'images/birthday.png' %}" alt="">
                                            </figure>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="notifications.html" title="">
                                        <figure>
                                            <img src="{% static 'images/resources/thumb-3.jpg' %}" alt="">
                                            <span class="status f-online"></span>
                                        </figure>
                                        <div class="mesg-meta">
                                            <h6>Andrew</h6>
                                            <span>commented on your photo.</span>
                                            <i>Sunday</i>
                                            <figure>
                                                <span>"Celebrity looks Beautiful in that outfit! We should see each"</span>
                                                <img src="{% static 'images/resources/admin.jpg' %}" alt="">
                                            </figure>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="notifications.html" title="">
                                        <figure>
                                            <img src="{% static 'images/resources/thumb-4.jpg' %}" alt="">
                                            <span class="status f-online"></span>
                                        </figure>
                                        <div class="mesg-meta">
                                            <h6>Tom cruse</h6>
                                            <span>nvited you to attend to his event Goo in</span>
                                            <i>May 19</i>
                                        </div>
                                    </a>
                                    <span class="tag">New</span>
                                </li>
                                <li>
                                    <a href="notifications.html" title="">
                                        <figure>
                                            <img src="{% static 'images/resources/thumb-5.jpg' %}" alt="">
                                            <span class="status f-online"></span>
                                        </figure>
                                        <div class="mesg-meta">
                                            <h6>Amy</h6>
                                            <span>Andrew Changed his profile picture. </span>
                                            <i>dec 18</i>
                                        </div>
                                    </a>
                                    <span class="tag">New</span>
                                </li>
                            </ul>
                            <a href="notifications.html" title="" class="more-mesg">View All</a>
                        </div>
                    </li>
                   
                </ul>
                <div class="user-img">
                    <h5>{{profile_pro.firstname}} {{profile_pro.lastname}}</h5>
                    <img style="max-width: 60px;" src="{{profile_pro.profile_pic.url}}" alt="">
                    <span class="status f-online"></span>
                    <div class="user-setting">

                        <ul class="log-out">
                            <li><a href="{% url 'core:profile' request.user.id %}" title=""><i class="ti-user"></i> view profile</a></li>
                            <li><a href="{% url 'core:settings' %}" title=""><i class="ti-pencil-alt"></i>edit profile</a></li>
                            <li><a href="{% url 'userauths:signout' %}" title=""><i class="ti-power-off"></i>log out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- topbar -->
        
        <div class="fixed-sidebar right">
            <div class="chat-friendz">
                <ul class="chat-users">
                    <li>
                        <div class="author-thmb">
                            <img src="{% static 'images/resources/side-friend1.jpg' %}" alt="">
                            <span class="status f-online"></span>
                        </div>
                    </li>
                    <li>
                        <div class="author-thmb">
                            <img src="{% static 'images/resources/side-friend2.jpg' %}" alt="">
                            <span class="status f-away"></span>
                        </div>
                    </li>
                    <li>
                        <div class="author-thmb">
                            <img src="{% static 'images/resources/side-friend3.jpg' %}" alt="">
                            <span class="status f-online"></span>
                        </div>
                    </li>
                    <li>
                        <div class="author-thmb">
                            <img src="{% static 'images/resources/side-friend4.jpg' %}" alt="">
                            <span class="status f-offline"></span>
                        </div>
                    </li>
                    <li>
                        <div class="author-thmb">
                            <img src="{% static 'images/resources/side-friend5.jpg' %}" alt="">
                            <span class="status f-online"></span>
                        </div>
                    </li>
                    <li>
                        <div class="author-thmb">
                            <img src="{% static 'images/resources/side-friend6.jpg' %}" alt="">
                            <span class="status f-online"></span>
                        </div>
                    </li>
                    <li>
                        <div class="author-thmb">
                            <img src="{% static 'images/resources/side-friend7.jpg' %}" alt="">
                            <span class="status f-offline"></span>
                        </div>
                    </li>
                    <li>
                        <div class="author-thmb">
                            <img src="{% static 'images/resources/side-friend8.jpg' %}" alt="">
                            <span class="status f-online"></span>
                        </div>
                    </li>
                    <li>
                        <div class="author-thmb">
                            <img src="{% static 'images/resources/side-friend9.jpg' %}" alt="">
                            <span class="status f-away"></span>
                        </div>
                    </li>
                    <li>
                        <div class="author-thmb">
                            <img src="{% static 'images/resources/side-friend10.jpg' %}" alt="">
                            <span class="status f-away"></span>
                        </div>
                    </li>
                    <li>
                        <div class="author-thmb">
                            <img src="{% static 'images/resources/side-friend8.jpg' %}" alt="">
                            <span class="status f-online"></span>
                        </div>
                    </li>
                </ul>
                <div class="chat-box">
                    <div class="chat-head">
                        <span class="status f-online"></span>
                        <h6>Bucky Barnes</h6>
                        <div class="more">
                            <div class="more-optns"><i class="ti-more-alt"></i>
                                <ul>
                                    <li>block chat</li>
                                    <li>unblock chat</li>
                                    <li>conversation</li>
                                </ul>
                            </div>
                            <span class="close-mesage"><i class="ti-close"></i></span>
                        </div>
                    </div>
                    <div class="chat-list">
                        <ul>
                            <li class="me">
                                <div class="chat-thumb"><img src="{% static 'images/resources/chatlist1.jpg' %}" alt=""></div>
                                <div class="notification-event">
                                    <span class="chat-message-item">
									HI, Jack i have faced a problem with your software. are you available now, when i install this i have to received an error.
								</span>
                                    <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Today at 2:12pm</time></span>
                                </div>
                            </li>
                            <li class="you">
                                <div class="chat-thumb"><img src="{% static 'images/resources/chatlist2.jpg' %}" alt=""></div>
                                <div class="notification-event">
                                    <span class="chat-message-item">
									Hi tina, Please let me know your purchase code, and show me the screnshot of error.
								</span>
                                    <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Today at 2:14pm</time></span>
                                </div>
                            </li>
                            <li class="me">
                                <div class="chat-thumb"><img src="{% static 'images/resources/chatlist1.jpg' %}" alt=""></div>
                                <div class="notification-event">
                                    <span class="chat-message-item">
									Yes, sure please wait a while, i ll show you the complete error list. Thank you.
								</span>
                                    <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Today at 2:15pm</time></span>
                                </div>
                            </li>
                        </ul>
                        <form class="text-box">
                            <textarea placeholder="Post enter to post..."></textarea>
                            <div class="add-smiles">
                                <span title="add icon" class="em em-expressionless"></span>
                                <div class="smiles-bunch">
                                    <i class="em em---1"></i>
                                    <i class="em em-smiley"></i>
                                    <i class="em em-anguished"></i>
                                    <i class="em em-laughing"></i>
                                    <i class="em em-angry"></i>
                                    <i class="em em-astonished"></i>
                                    <i class="em em-blush"></i>
                                    <i class="em em-disappointed"></i>
                                    <i class="em em-worried"></i>
                                    <i class="em em-kissing_heart"></i>
                                    <i class="em em-rage"></i>
                                    <i class="em em-stuck_out_tongue"></i>
                                </div>
                            </div>

                            <button type="submit"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- right sidebar user chat -->

        <div class="fixed-sidebar left">
            <div class="menu-left">
                <ul class="left-menu">
                    
                    <li>
                        <a href="{% url 'core:newsfeed' %}" title="Newsfeed Page" {% if request.path == '/' %} style="color: #1877f2" {% endif %}>
                            <i class="fa-solid fa-newspaper"></i>
					</a>
                    </li>
                    <li>
                        <a href="{% url 'core:friend-requests' %}" title="Friend Requests" {% if request.path == '/friend-requests' %} style="color: #1877f2" {% endif %}>
                            <i class="fa-solid fa-user-group"></i>{% if friend_requests_count != None %}<em style="border-radius: 100%; bottom: 20px; color: #fff; font-size: 10px; height: 17px; line-height: 17px; position: absolute; text-align: center; width: 17px; font-style: normal;" class="bg-red">{{friend_requests_count}}</em>{% endif %}
					</a>
                    </li>
                    <li>
                        <a href="{% url 'core:videos' %}" title="Watch" {% if request.path == '/videos' %} style="color: #1877f2" {% endif %}>
                            <i class="fa-solid fa-play"></i>
					</a>
                    </li>
                    <li>
                        <a href="#" title="Messenger">
                            <i class="fa-brands fa-facebook-messenger"></i>
					</a>
                    </li>
                    <li>
                        <a href="#" title="Favourit page">
						<i class="fa fa-star-o"></i>
					</a>
                    </li>
                    <li>
                        <a href="#" title="Notification" >
                            <i class="fa-solid fa-bell"></i>
					</a>
                    </li>
                    <li>
                        <a href="{% url 'core:settings' %}" title="Settings" {% if request.path == '/settings' %} style="color: #1877f2" {% endif %} >
                            <i class="fa-solid fa-gear"></i>
					</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- left sidebar menu -->
{% block content %}


{% endblock content %}

<div class="bottombar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="copyright">© Facebook Django 2023. Made with Love by<a style="color: #00bcf4;" href="https://shaheermudassar.github.io/Shaheer-Mudassar"> Shaheer</a></span>
            </div>
        </div>
    </div>
</div>
</div>

<!-- send message popup -->

<script src="{% static 'js/main.min.js' %}"></script>
	<script src="{% static 'js/jquery-stories.js' %}"></script>
	<!--<script src="js/toast-notificatons.js"></script>-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script><!-- For timeline slide show -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script><!-- for location picker map -->
	<script src="{% static 'js/locationpicker.jquery.js' %}"></script><!-- for loaction picker map -->
	<script src="{% static 'js/map-init.js' %}"></script><!-- map initilasition -->
	<script src="{% static 'js/page-tourintro.js' %}"></script>
	<script src="{% static 'js/page-tour-init.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        // Attach click event handler to the like button
        $('.like-button').click(function() {
            var postID = $(this).data('post-id');
            var likeCountElement = $(this).find('span');
            console.log("post id:",postID)
            
            // Send an AJAX POST request to the server
            $.ajax({
                url: '/like/',
                method: 'POST',
                data: { post_id: postID },
                success: function(response) {
                    console.log("liked")
                    // Update the like count on success
                    likeCountElement.text(response.likes);
                }
            });
        });
        $('.share-post').on('submit', function (event) {
            event.preventDefault(); 
        

            var submitBtn = $(this).find('button[type="submit"]');
        
            var formData = $(this).serialize();
            console.log("data:", formData)
        
            $.ajax({
                type: 'POST',
                url: '/share_post/',  
                data: formData,
                success: function (response) {
                    console.log("Shared");
        
                    $('.share-post textarea').hide();
                    $('.share-post img').hide();
                    $('.share-post figure').hide();
                    $('.share-post .friend-info').hide();
                    $('.share-post .we-video-info').hide();
                    $('.share-post .post-comt-box').hide();
        

                    $('.share-post').append('<h1>Shared</h1>');
        

                    
                    submitBtn.prop('disabled', true);
                }
            });
        });
        $('.delete-request').on('click', function (event) {
            event.preventDefault();
    
            // Get the friend request ID from the data attribute
            var friReqId = $(this).data('fri-req-id');
    
            // Send the AJAX request to delete the friend request
            $.ajax({
                type: 'POST',
                url: '/delete_friend_request/',  // Replace with your Django URL for deleting friend requests
                data: {
                    fri_req_id: friReqId
                },
                success: function (response) {
                    // Handle the success response, if needed
                    $('#friend-request-' + friReqId).remove();
                    console.log("Friend request deleted");
                },
                error: function (xhr, errmsg, err) {
                    // Handle the error, if needed
                }
            });
        });
        $('.accept-request').on('click', function (event) {
            event.preventDefault();
    
            // Get the friend request ID from the data attribute
            var sender_profile_id = $(this).data('sender-profile');
            console.log("profile:", sender_profile_id)
    
            // Send the AJAX request to delete the friend request
            $.ajax({
                type: 'POST',
                url: '/accept_friend_request/',  // Replace with your Django URL for deleting friend requests
                data: {
                    sender_profile_id: sender_profile_id
                },
                success: function (response) {
                    $('#delete-' + sender_profile_id).remove();
                    $('#accept-' + sender_profile_id).remove();
                    var acceptedMessage = $('<a class="main-btn"><i class="fa-solid fa-user-check"></i> Friends</a>');
                    $('#accepted-' + sender_profile_id).append(acceptedMessage);
                    console.log("Friend request accepted");
                },
                error: function (xhr, errmsg, err) {
                    // Handle the error, if needed
                }
            });
        });
        
    });
    </script>
    <style>
    video{
        width: 100%;
        height: auto;
    }
</style>
