{% load static %}
{% load user_agents %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title> {% block title %}
		Facebook
		{% endblock title %} </title>
        {% block favicon %}
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    {% endblock favicon %}
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/weather-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


    <style>
        /* width and height of the scrollbar */
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        
    }
    
    /* style of the scrollbar thumb */
    ::-webkit-scrollbar-thumb {
        background: #555;
    }
    
    /* style of the scrollbar track */
    ::-webkit-scrollbar-track {
        background: #ccc;
    }
    
    </style>
</head>

<body>
    
    <div class="theme-layout">

        <div class="postoverlay"></div>

        <div class="responsive-header">
            <div class="mh-head first Sticky" {% if request.path == '/videos/' %}style="background: #212529; padding: 5px;"{% else %} style="background: #fff; padding: 5px;"{% endif %} >
                
			</span>
                <span class="mh-text">
				{% block logo %}<a href="{% url 'core:newsfeed' %}" title=""><img style="margin-right: 220px;" src="{% static 'images/facebook-logo-blue.png' %}" alt=""></a>{% endblock logo %}
			</span>
			</span>
                <span class="mh-btns-right">
                <a href="{% url 'core:search' %}" id="search-icon" style="color: #555; background: rgb(248, 246, 246); border-radius: 20px;" title=""><i class="fas fa-search"></i></a>
				<a href="#shoppingbag" style="color: #555; background: rgb(248, 246, 246); border-radius: 20px;" title=""><i class="fa-solid fa-bars"></i></a>
			</span>
                
            </div>
            
        </div>
        <div class="responsive-header">
            <div class="mh-head first Sticky" {% if request.path == '/videos/' %}style="background: #212529; padding: 5px;"{% else %} style="background: #fff; padding: 5px;"{% endif %} >
                <span class="mh-text">
				<a style="padding: 8px 17px; {% if request.path == '/' %} color: #1877f2 {% else %} color: #555{% endif %};" href="{% url 'core:newsfeed' %}" title=""><i class="fa-solid fa-house"></i></a>
				<a style="padding: 8px 17px; {% if request.path == '/friend-requests/' %} color: #1877f2 {% else %} color: #555{% endif %};" href="{% url 'core:friend-requests' %}" title=""><i class="fa-solid fa-user-group"></i>{% if friend_requests_count != None %}<em style="border-radius: 100%; bottom: 30px; color: #fff; font-size: 10px; height: 17px; line-height: 17px; position: absolute; text-align: center; width: 17px; font-style: normal;" class="bg-red">{{friend_requests_count}}</em>{% endif %}</a>
				<a style="padding: 8px 17px;  color: #555;" href="{% url 'messenger:messenger' %}" title=""><i class="fa-brands fa-facebook-messenger"></i></a>
				<a style="padding: 8px 17px; {% if request.path == '/videos/' %} color: #1877f2 {% else %} color: #555{% endif %};" href="{% url 'core:videos' %}" title=""><i class="fa-solid fa-film"></i></a>
				<a style="padding: 8px 17px; {% if request.path == '/notifications/' %} color: #1877f2 {% else %} color: #555{% endif %};" href="{% url 'core:notifications' %}" title=""><i class="fa-solid fa-bell"></i>{% if notifications_count != None and notifications_count != 0 %}<em style="border-radius: 100%; bottom: 30px; color: #fff; font-size: 10px; height: 17px; line-height: 17px; position: absolute; text-align: center; width: 17px; font-style: normal;" class="bg-red">{{notifications_count}}</em>{% endif %}</a>
				<a style="padding: 8px 17px; {% if request.path == profile_path %} color: #1877f2 {% else %} color: #555{% endif %};" href="{% url 'core:profile' profile_pro.user.id %}" title=""><i class="fa-solid fa-user"></i></a>
			</span>
                
            </div>
            
        </div>
        <!-- responsive header -->

        <div class="topbar stick">
            <div class="logo">
                <a title="" href="{% url 'core:newsfeed' %}"><img src="{% static 'images/fb-logo.png' %}" alt=""></a>
            </div>
            <div class="top-area">
                <div class="main-menu">
                    <span>
			    	<i class="fa fa-braille"></i>
			    </span>
                </div>
                <div class="top-search">
                    <form method="get" action="{% url 'core:search' %}" class="">
                        <input required type="text" placeholder="Search People, Pages, Groups etc" name="query">
                        <button type="submit"><i class="fa fa=search"></i></button>
                    </form>
                </div>
                
                <ul class="setting-area">
                    
                    <li>
                        <a href="#" title="Notification" data-ripple="">
						<i class="fa fa-bell"></i><em class="bg-purple">{{notifications_count}}</em>
					</a>
                        <div class="dropdowns">
                            <span>{{notifications_count}} New Notifications <a href="{% url 'core:notifications' %}" title="">See all</a></span>
                            <ul class="drops-menu">
                                
                                    {% if notifications %}
                                    {% for n in notifications  %}
												{% if n.profile and n.post %}
												<li {% if n.seen == False %} style = "background: #665f5f21;" {% else %} style = "background: white" {% endif %}>
													<a href="{% url 'core:post' n.post.id %}">
													<figure><img style="width: 40px;" src="{{n.profile.profile_pic.url}}" alt=""></figure>
													<div class="notifi-meta">
														<p> <span style="font-weight: 800;">{{n.profile.firstname}} {{n.profile.lastname}}</span> {{n.body|safe}}</p>
														<span> {{n.created_at|timesince}} ago</span>
													</div>
												</a>
												</li>
												{% elif n.page and n.post and n.profile %}
												<a href="{% url 'core:post' n.post.id %}">
														<li {% if n.seen == False %} style = "background: #665f5f21;" {% else %} style = "background: white" {% endif %}>
													<figure><img style="width: 40px;" src="{{n.profile.profile_pic.url}}" alt=""></figure>
													<div class="notifi-meta">
														<p><span style="font-weight: 800;">{{n.profile.firstname}} {{n.profile.lastname}}</span> {{n.body|safe}}</p>
														<span> {{n.created_at|timesince}} ago</span>
													</div>
												</a>
												</li>
												{% elif n.page and n.post %}
												<a href="{% url 'core:post' n.post.id %}">
														<li {% if n.seen == False %} style = "background: #665f5f21;" {% else %} style = "background: white" {% endif %}>
													<figure><img style="width: 40px;" src="{{n.page.profile_pic.url}}" alt=""></figure>
													<div class="notifi-meta">
														<p><span style="font-weight: 800;">{{n.page.name}}</span> {{n.body|safe}}</p>
														<span> {{n.created_at|timesince}} ago</span>
													</div>
												</a>
												</li>
                                                {% elif n.friends == True %}
                                                <a href="{% url 'core:profile' n.profile.user.id %}">
                                                    <li {% if n.seen == False %} style = "background: #665f5f21;" {% else %} style = "background: white" {% endif %}>
                                                <figure><img style="width: 40px;" src="{{n.profile.profile_pic.url}}" alt=""></figure>
                                                <div class="notifi-meta">
                                                    <p><span style="font-weight: 800;">{{n.profile.firstname}} {{n.profile.lastname}}</span> {{n.body|safe}}</p>
                                                    <span> {{n.created_at|timesince}} ago</span>
                                                </div>
                                            </a>
                                            </li>
												{% elif n.post %}
												<a href="{% url 'core:post' n.post.id %}">
														<li {% if n.seen == False %} style = "background: #665f5f21;" {% else %} style = "background: white" {% endif %}>
													<figure><img style="width: 40px;" src="{{n.sent_to_profile.profile_pic.url}}" alt=""></figure>
													<div class="notifi-meta">
														<p><span style="font-weight: 800;">Hey {{n.sent_to_profile.firstname}},</span> {{n.body|safe}}</p>
														<span> {{n.created_at|timesince}} ago</span>
													</div>
												</a>
												</li>
												{% else %}
                                                <a>
												<li {% if n.seen == False %} style = "background: #665f5f21;" {% else %} style = "background: white" {% endif %}>
													<figure><img style="width: 40px;" src="{{n.sent_to_profile.profile_pic.url}}" alt=""></figure>
													<div class="notifi-meta">
														<p><span style="font-weight: 800;">{{n.sent_to_profile.firstname}} {{n.sent_to_profile.lastname}}</span> {{n.body|safe}}</p>
														<span> {{n.created_at|timesince}} ago</span>
													</div>
                                                </a>
												</li>
												{% endif %}
												{% endfor %}
											
                                            </ul>
											{% else %}
											<h2>No Notifications</h2>
											{% endif %}
                            <a href="{% url 'core:notifications' %}" title="" class="more-mesg">View All</a>
                        </div>
                    </li>
                   
                </ul>
                <div class="user-img">
                    <h5>{{profile_pro.firstname}} {{profile_pro.lastname}}</h5>
                    <img style="width: 60px; height:60px; object-fit: cover;" src="{{profile_pro.profile_pic.url}}" alt="">
                    <span class="status f-online"></span>
                    <div class="user-setting">

                        <ul class="log-out">
                            <li><a href="{% url 'core:profile' request.user.id %}" title=""> view profile</a></li>
                            <li><a href="{% url 'core:user-pages' %}" title=""> Your Pages</a></li>
                            <li><a href="{% url 'core:liked_pages' %}" title=""> Liked Pages</a></li>
                            <li><a href="{% url 'core:settings' %}" title="">edit profile</a></li>
                            <li><a href="{% url 'userauths:signout' %}" title="">log out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- topbar -->
        
        
        <div class="fixed-sidebar right">
            <div class="chat-friendz">
                <ul class="chat-users">
                    {% if friends %}
                    {% for f in friends %}
                    <li>
                        <div class="author-thmb">
                            <a href="{% url 'messenger:chat' f.friend_user.id %}"><img style="width:50px; height: 50px; object-fit: cover;" src="{{f.friend_profile.profile_pic.url}}" alt=""></a>
                        </div>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
                <div class="chat-box">
                    <div class="chat-head">
                        <span class="status f-online"></span>
                        <h6>Bucky Barnes</h6>
                        <div class="more">
                            <div class="more-optns"><i class="ti-more-alt"></i>
                                <ul>
                                    <li>block chat</li>
                                    <li>unblock chat</li>
                                    <li>conversation</li>
                                </ul>
                            </div>
                            <span class="close-mesage"><i class="ti-close"></i></span>
                        </div>
                    </div>
                    <div class="chat-list">
                        <ul>
                            <li class="me">
                                <div class="chat-thumb"><img src="{% static 'images/resources/chatlist1.jpg' %}" alt=""></div>
                                <div class="notification-event">
                                    <span class="chat-message-item">
									HI, Jack i have faced a problem with your software. are you available now, when i install this i have to received an error.
								</span>
                                    <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Today at 2:12pm</time></span>
                                </div>
                            </li>
                            <li class="you">
                                <div class="chat-thumb"><img src="{% static 'images/resources/chatlist2.jpg' %}" alt=""></div>
                                <div class="notification-event">
                                    <span class="chat-message-item">
									Hi tina, Please let me know your purchase code, and show me the screnshot of error.
								</span>
                                    <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Today at 2:14pm</time></span>
                                </div>
                            </li>
                            <li class="me">
                                <div class="chat-thumb"><img src="{% static 'images/resources/chatlist1.jpg' %}" alt=""></div>
                                <div class="notification-event">
                                    <span class="chat-message-item">
									Yes, sure please wait a while, i ll show you the complete error list. Thank you.
								</span>
                                    <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Today at 2:15pm</time></span>
                                </div>
                            </li>
                        </ul>
                        <form class="text-box">
                            <textarea placeholder="Post enter to post..."></textarea>
                            <div class="add-smiles">
                                <span title="add icon" class="em em-expressionless"></span>
                                <div class="smiles-bunch">
                                    <i class="em em---1"></i>
                                    <i class="em em-smiley"></i>
                                    <i class="em em-anguished"></i>
                                    <i class="em em-laughing"></i>
                                    <i class="em em-angry"></i>
                                    <i class="em em-astonished"></i>
                                    <i class="em em-blush"></i>
                                    <i class="em em-disappointed"></i>
                                    <i class="em em-worried"></i>
                                    <i class="em em-kissing_heart"></i>
                                    <i class="em em-rage"></i>
                                    <i class="em em-stuck_out_tongue"></i>
                                </div>
                            </div>

                            <button type="submit"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- right sidebar user chat -->

        <div class="fixed-sidebar left">
            <div class="menu-left">
                <ul class="left-menu">
                    
                    <li>
                        <a href="{% url 'core:newsfeed' %}" title="Newsfeed Page" {% if request.path == '/' %} style="color: #1877f2" {% endif %}>
                            <i class="fa-solid fa-newspaper"></i>
					</a>
                    </li>
                    <li>
                        <a href="{% url 'core:friend-requests' %}" title="Friend Requests" {% if request.path == '/friend-requests/' %} style="color: #1877f2" {% endif %}>
                            <i class="fa-solid fa-user-group"></i>{% if friend_requests_count != None %}<em style="border-radius: 100%; bottom: 20px; color: #fff; font-size: 10px; height: 17px; line-height: 17px; position: absolute; text-align: center; width: 17px; font-style: normal;" class="bg-red">{{friend_requests_count}}</em>{% endif %}
					</a>
                    </li>
                    <li>
                        <a href="{% url 'core:videos' %}" title="Watch" {% if request.path == '/videos/' %} style="color: #1877f2" {% endif %}>
                            <i class="fa-solid fa-play"></i>
					</a>
                    </li>
                    <li>
                        <a href="{% url 'messenger:messenger' %}" title="Messenger" {% if request.path == '/messenger/' %} style="color: #1877f2" {% endif %}>
                            <i class="fa-brands fa-facebook-messenger"></i>
					</a>
                    </li>
                    <li>
                        <a href="{% url 'core:liked_pages' %}" title="Favourit page" {% if request.path == '/liked_pages/' %} style="color: #1877f2" {% endif %}>
						<i class="fa fa-star-o"></i>
					</a>
                    </li>
                    <li>
                        <a href="{% url 'core:notifications' %}" title="Notifications" {% if request.path == '/notifications/' %} style="color: #1877f2" {% endif %}>
                            <i class="fa-solid fa-bell"></i>{% if notifications_count != None and notifications_count != 0 %}<em style="border-radius: 100%; bottom: 20px; color: #fff; font-size: 10px; height: 17px; line-height: 17px; position: absolute; text-align: center; width: 17px; font-style: normal;" class="bg-red">{{notifications_count}}</em>{% endif %}
					</a>
                    </li>
                    <li>
                        <a href="{% url 'core:settings' %}" title="Settings" {% if request.path == '/settings/' %} style="color: #1877f2" {% endif %} >
                            <i class="fa-solid fa-gear"></i>
					</a>
                    </li>
                    <li>
                        <a href="https://shaheermudassar.github.io/Shaheer-Mudassar/" title="Developer" {% if request.path == '/settings/' %} style="color: #1877f2" {% endif %} >
                            <i class="fa-solid fa-code"></i>
					</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- left sidebar menu -->
{% block content %}


{% endblock content %}

<div class="bottombar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="copyright">© Facebook Django 2023. Made with Love by<a style="color: #00bcf4;" href="https://shaheermudassar.github.io/Shaheer-Mudassar"> Shaheer</a></span>
            </div>
        </div>
    </div>
</div>
</div>
<nav id="shoppingbag">
    <div>
        <div class="">
                <a href="{% url 'core:profile' profile_pro.user.id %}"><div style="display: flex;" class="setting-row"><img style="border-radius: 100%; height: 50px;
                    object-fit: cover;
                    width: 50px;" src="{{profile_pro.profile_pic.url}}" alt="user profile">
                    <span style="font-size: 23px; margin-left: 6px ;"> {{profile_pro.firstname}} {{profile_pro.lastname}} <br><span style="color: #ccc; font-size: 18px;">view your profile</span></span>
                </div></a>
                <a href="{% url 'core:settings' %}"><div style="display: flex;" class="setting-row"><i style="font-size: 30px; color: #a9a9a978;" class="fas fa-cog"></i>
                    <span style="font-size: 23px; margin-left: 6px ;">Edit Account</span>
                </div></a>
                <a href="{% url 'core:liked_pages' %}"><div style="display: flex;" class="setting-row"><i style="font-size: 30px; color: #a9a9a978;" class="fa-solid fa-flag"></i>
                    <span style="font-size: 23px; margin-left: 6px ;">Liked Pages</span>
                </div></a>
                <a href="{% url 'core:user-pages' %}"><div style="display: flex;" class="setting-row"><i style="font-size: 30px; color: #a9a9a978;" class="fa-regular fa-flag"></i>
                    <span style="font-size: 23px; margin-left: 6px ;">Your Pages</span>
                </div></a>
                <a href="{% url 'userauths:signout' %}"><div style="display: flex;" class="setting-row"><i style="font-size: 30px; color: #a9a9a978;" class="fa-solid fa-arrow-right-from-bracket"></i>
                    <span style="font-size: 23px; margin-left: 6px ;">Logout</span>
                </div></a>
                <a href="https://shaheermudassar.github.io/Shaheer-Mudassar/"><div style="display: flex;" class="setting-row"><i style="font-size: 30px; color: #a9a9a978;" class="fa-solid fa-terminal"></i>
                    <span style="font-size: 23px; margin-left: 6px ;">Developer</span>
                </div></a>
                
        </div>
    </div>
</nav>
<!-- send message popup -->

<script src="{% static 'js/main.min.js' %}"></script>
	<script src="{% static 'js/jquery-stories.js' %}"></script>
	<!--<script src="js/toast-notificatons.js"></script>-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script><!-- For timeline slide show -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script><!-- for location picker map -->
	<script src="{% static 'js/locationpicker.jquery.js' %}"></script><!-- for loaction picker map -->
	<script src="{% static 'js/map-init.js' %}"></script><!-- map initilasition -->
	<script src="{% static 'js/page-tourintro.js' %}"></script>
	<script src="{% static 'js/page-tour-init.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        // Attach click event handler to the like button
        $('.like-button').click(function() {
            var postID = $(this).data('post-id');
            var likeCountElement = $(this).find('span');
            console.log("post id:",postID)
            
            // Send an AJAX POST request to the server
            $.ajax({
                url: '/like/',
                method: 'POST',
                data: { post_id: postID },
                success: function(response) {
                    console.log("liked")
                    // Update the like count on success
                    likeCountElement.text(response.likes);
                }
            });
        });
        $('.share-post').on('submit', function (event) {
            event.preventDefault(); 
        

            var submitBtn = $(this).find('button[type="submit"]');
        
            var formData = $(this).serialize();
            console.log("data:", formData)
        
            $.ajax({
                type: 'POST',
                url: '/share_post/',  
                data: formData,
                success: function (response) {
                    console.log("Shared");
        
                    $('.share-post textarea').hide();
                    $('.share-post img').hide();
                    $('.share-post figure').hide();
                    $('.share-post .friend-info').hide();
                    $('.share-post .we-video-info').hide();
                    $('.share-post .post-comt-box').hide();
        

                    $('.share-post').append('<h1>Shared</h1>');
        

                    
                    submitBtn.prop('disabled', true);
                }
            });
        });
        $('.delete-request').on('click', function (event) {
            event.preventDefault();
    
            // Get the friend request ID from the data attribute
            var friReqId = $(this).data('fri-req-id');
    
            // Send the AJAX request to delete the friend request
            $.ajax({
                type: 'POST',
                url: '/delete_friend_request/',  // Replace with your Django URL for deleting friend requests
                data: {
                    fri_req_id: friReqId
                },
                success: function (response) {
                    // Handle the success response, if needed
                    $('#friend-request-' + friReqId).remove();
                    console.log("Friend request deleted");
                },
                error: function (xhr, errmsg, err) {
                    // Handle the error, if needed
                }
            });
        });
        $('.accept-request').on('click', function (event) {
            event.preventDefault();
    
            // Get the friend request ID from the data attribute
            var sender_profile_id = $(this).data('sender-profile');
            console.log("profile:", sender_profile_id)
    
            // Send the AJAX request to delete the friend request
            $.ajax({
                type: 'POST',
                url: '/accept_friend_request/',  // Replace with your Django URL for deleting friend requests
                data: {
                    sender_profile_id: sender_profile_id
                },
                success: function (response) {
                    $('#delete-' + sender_profile_id).remove();
                    $('#accept-' + sender_profile_id).remove();
                    var acceptedMessage = $('<a class="main-btn"><i class="fa-solid fa-user-check"></i> Friends</a>');
                    $('#accepted-' + sender_profile_id).append(acceptedMessage);
                    console.log("Friend request accepted");
                },
                error: function (xhr, errmsg, err) {
                    // Handle the error, if needed
                }
            });
        });
        
    });
    </script>
    <style>
    video{
        width: 100%;
        height: auto;
    }
</style>
<script>
    $(document).ready(function() {
  $("#search-icon").click(function() {
    $("#search-bar").toggle(); // Toggle the visibility of the search bar
  });
});

</script>