{% extends 'core/base.html' %}
 {% block title %}
    Newsfeed
    {% endblock title %} 
{% block content %}
{% load static %}
{% load user_agents %}
{% comment %} <div class="wavy-wraper">
    <div class="wavy">
      <span style="--i:1;">f</span>
      <span style="--i:2;">a</span>
      <span style="--i:3;">c</span>
      <span style="--i:4;">e</span>
      <span style="--i:5;">b</span>
      <span style="--i:6;">o</span>
      <span style="--i:7;">o</span>
      <span style="--i:8;">k</span>
      <span style="--i:9;">.</span>
    </div>
</div>
<div class="theme-layout"> {% endcomment %}
<section>
    <div class="gap2 gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row merged20" id="page-contents">
                                <div class="col-lg-2">
                                    <aside class="sidebar static left">
                                       
                                        <!-- who's following -->
                                    </aside>
                                </div>
                                <!-- sidebar -->
                                <div class="col-lg-7">
                                    <div class="central-meta postbox">
                                        <span class="create-post">Create post</span>
                                        <div class="new-postbox">
                                            <figure>
                                                <img style="width: 50px; height: 50px; object-fit: cover;" src="{{profile_pro.profile_pic.url}}" alt="">
                                            </figure>
                                            <form method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="newpst-input">
                                                  <textarea rows="2" required placeholder="Share some what you are thinking?" name="content"></textarea>
                                                </div>
                                                <div class="attachments">
                                                  <ul>
                                                    <li>
                                                      <i class="fa fa-image"></i>
                                                      <label class="fileContainer">
                                                        <input type="file" accept="image/*" name="image" onchange="previewImage(event)">
                                                      </label>
                                                      <img id="imagePreview" src="#" alt="Image Preview" style="display: none;">
                                                    </li>
                                                    <li>
                                                      <i class="fa fa-video-camera"></i>
                                                      <label class="fileContainer">
                                                        <input type="file" accept="video/*" name="video" onchange="previewVideo(event)">
                                                      </label>
                                                      <video id="videoPreview" src="#" alt="Video Preview" style="display: none;" controls></video>
                                                    </li>
                                                  </ul>
                                                  <button class="post-btn" type="submit" name="add_post">Post</button>
                                                </div>
                                              </form>
                                              
                                              <script>
                                                function previewImage(event) {
                                                  var reader = new FileReader();
                                                  reader.onload = function() {
                                                    var imagePreview = document.getElementById('imagePreview');
                                                    imagePreview.src = reader.result;
                                                    imagePreview.style.display = 'block';
                                                  }
                                                  reader.readAsDataURL(event.target.files[0]);
                                                }
                                                
                                                function previewVideo(event) {
                                                  var reader = new FileReader();
                                                  reader.onload = function() {
                                                    var videoPreview = document.getElementById('videoPreview');
                                                    videoPreview.src = reader.result;
                                                    videoPreview.style.display = 'block';
                                                  }
                                                  reader.readAsDataURL(event.target.files[0]);
                                                }
                                              </script>
                                              
                                                <div class="add-location-post">
                                                    <span>Drag map point to selected area</span>
                                                <div class="row">
                                                    
                                                    <div class="col-lg-6">
                                                        <label class="control-label">Lat :</label>
                                                        <input type="text" class="" id="us3-lat" />
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label>Long :</label>
                                                        <input type="text" class="" id="us3-lon" />
                                                    </div>
                                                </div>
                                                <!-- map -->
                                                <div id="us3"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- add post new box -->
                                    <div class="central-meta">
                                        <span class="create-post">Recent Stories </span>
                                        <div class="story-postbox">
                                            <div class="row" style="display: flex; flex-wrap: nowrap; overflow: auto;">
                                                <div class="col-lg-3 col-md-3 col-sm-3">
                                                    <div class="story-box">
                                                        <figure>
                                                            <img style="height: 210px; object-fit: cover;" src="{{profile_user.profile_pic.url}}" alt="">
                                                            <span style="color: white;">Add Your Story</span>
                                                        </figure>
                                                        <div class="story-thumb fileContainer" data-toggle="tooltip" title="Add Your Story">
                                                            <!-- <label class="fileContainer">
                                                            </label> -->
                                                            <i class="fa fa-plus"></i>
                                                            <form id="myForm" method="post" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                <input name="unique_file_input_name" type="file" accept="image/*, video/*" onchange="submitForm()">
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% if request|is_mobile %}
                                                {% for s in stories|slice:"3" %}
                                                <div class="col-lg-3 col-md-3 col-sm-3">
                                                    <div class="story-box" data-story-open="{{s.id}}">
                                                        <figure>
                                                            {% if s.image %}
                                                            <img style="height: 210px; object-fit: cover" src="{{s.image.url}}" alt="">
                                                            {% elif s.video %}
                                                            <video style="height: 210px; object-fit: cover" src="{{s.video.url}}" alt=""></video>
                                                            {% endif %}
                                                            <span style="color: white;">{{s.profile.firstname}} {{s.profile.lastname}}</span>
                                                        </figure>
                                                        <div class="story-thumb" data-toggle="tooltip" title="{{s.profile.firstname}} {{s.profile.lastname}}">
                                                            <a href = "{% url 'core:profile' s.user.id %}"><img style="width: 40px;" src="{{s.profile.profile_pic.url}}" alt=""></a>
                                                        </div>
                                                    </div>
                                                </div>
                                               {% endfor %}
                                                {% else %}
                                                {% for s in stories %}
                                                
                                                <div class="col-lg-3 col-md-3 col-sm-3">
                                                    <div class="story-box" data-story-open="{{s.id}}">
                                                        <figure>
                                                            {% if s.image %}
                                                            <img style="height: 210px; object-fit: cover" src="{{s.image.url}}" alt="">
                                                            {% elif s.video %}
                                                            <video style="height: 210px; object-fit: cover" src="{{s.video.url}}" alt=""></video>
                                                            {% endif %}
                                                            <span style="color: white;">{{s.profile.firstname}} {{s.profile.lastname}}</span>
                                                        </figure>
                                                        <div class="story-thumb" data-toggle="tooltip" title="{{s.profile.firstname}} {{s.profile.lastname}}">
                                                            <a href = "{% url 'core:profile' s.user.id %}"><img style="width: 40px;" src="{{s.profile.profile_pic.url}}" alt=""></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                            </div>
                                            {% for s in stories %}
                                            <div class="stories-wraper" data-opener="{{s.id}}">
                                                <div class="status-story" style="overflow: scroll;">
                                                    <span style="font-size: 40px;" class="close-story"><i class="fa-solid fa-circle-xmark"></i></span>
                                                    {% if s.user == request.user %}
                                                    <span style="margin-right: 50px;">
                                                        <div>
                                                        <form method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" value="{{s.id}}" name="id">
                                                            <button name="delete_story" type="submit"  title="Delete Post" style="font-size: 30px; border: none; background: none; color: white;" ><i class="fas fa-trash"></i></button>
                                                        </form>
                                                        </div>
                                                    </span>
                                                    {% endif %}
                                                    
                                                    <div class="row">
                                                        <div  class="col-lg-12">
                                                            {% if s.image %}
                                                            <div class="col-lg-6" id="slideshow" style="overflow: visible">
                                                                <img style="width: 100%; max-height:500px;" class="slide" src="{{s.image.url}}" />
                                                            </div>
                                                            {% elif s.video %}
                                                            <div class="col-lg-6" id="slideshow" style="overflow: visible; height: 100%;">
                                                                <video style="width: 100%; max-height:500px;" class="slide" src="{{s.video.url}}" controls></video>
                                                            </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!-- top stories -->
                                    
                                        {% if post %}
                                    {% for p in post %}
                                    <div class="central-meta item">
                                        <div class="user-post">
                                            <div class="friend-info">
                                                <figure>
                                                    {% if p.page %}
                                                    <img src="{{p.page.profile_pic.url}}" alt="">
                                                    {% else %}
                                                    <img src="{{p.profile.profile_pic.url}}" alt="">
                                                    {% endif %}
                                                </figure>
                                                <div class="friend-name">
                                                    {% if p.user == request.user %}
                                                    <div class="more">
                                                        <div class="more-post-optns"><i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                            <ul>
                                                                <form method="post">
                                                                    {% csrf_token %}
                                                                    <input type="hidden" name="id" value="{{p.id}}">
                                                                <li><button style="" type="submit" name="delete_post" class="fa fa-trash-o"></i> Delete</li>
                                                                </form>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                    {% if p.page %}
                                                    <ins><a href="{% url 'core:page' p.page.id %}" title="">{{p.page.name}}</a>{% if p.shared_post %} shared <a href="{% url 'core:page' p.shared_post.page.id %}" title=""> {{p.shared_post.page.name}}'s</a> post{% endif %}</ins>
                                                    {% else %}
                                                    <ins><a href="{% url 'core:profile' p.user.id %}" title="">{{p.profile.firstname}} {{p.profile.lastname}}</a>
                                                        {% if p.shared_post and p.shared_post.page %} shared <a href="{% url 'core:page' p.shared_post.page.id %}" title=""> {{p.shared_post.page.name}}'s</a> post</ins>
                                                        {% elif p.shared_post %} shared <a href="{% url 'core:profile' p.shared_post.profile.user.id %}" title=""> {{p.shared_post.profile.firstname}} {{p.shared_post.profile.lastname}}'s</a> post{% endif %}</ins>
                                                    {% endif %}
                                                    <span><i class="fa fa-globe"></i> published: {{p.created_at|date:"M d, Y"}} {{p.created_at|time:"h:i, A"}}</span>

                                                </div>
                                                <div class="post-meta">
                                                    <p>
                                                        {{p.content}}
                                                    </p>
                                                    {% if p.shared_post %}
																	<div class="friend-info" style="border: solid 0.1px #8080802e; padding: 10px;">
                                                                        {% if p.shared_post.page %}
																		<figure>
																			<img src="{{p.shared_post.page.profile_pic.url}}" alt="">
																		</figure>
																		<div class="friend-name">
																			
																			<ins><a href="{% url 'core:page' p.shared_post.page.id %}" title="">{{p.shared_post.page.name}}</a></ins>
																			<span><i class="fa fa-globe"></i> published: {{p.shared_post.created_at|date:"M d, Y"}} {{p.shared_post.created_at|time:"h:i, A"}}</span>
					
																		</div>
                                                                        {% else %}
                                                                        <figure>
																			<img src="{{p.shared_post.profile.profile_pic.url}}" alt="">
																		</figure>
																		<div class="friend-name">
																			
																			<ins><a href="{% url 'core:profile' p.shared_post.user.id %}" title="">{{p.shared_post.profile.firstname}} {{p.shared_post.profile.lastname}}</a></ins>
																			<span><i class="fa fa-globe"></i> published: {{p.shared_post.created_at|date:"M d, Y"}} {{p.shared_post.created_at|time:"h:i, A"}}</span>
					
																		</div>
                                                                        {% endif %}
																		<div class="post-meta">
																			<p>
																				{{p.shared_post.content}}
																			</p>
																			{% if p.shared_post.image %}
																			<figure>
																				<a href="{% url 'core:post' p.shared_post.original_post_id %}"><img src="{{p.shared_post.image.url}}" alt=""></a>
																			</figure>
																			{% endif %}
																			{% if p.shared_post.video %}
																			<figure>
																				<a href="{% url 'core:post' p.shared_post.original_post_id %}"><video style="max-height: 400px;" controls>
																					<source src="{{p.shared_post.video.url}}">
																				  </video></a>
																			</figure>
																			{% endif %}
																		</div>
																	</div>
																	{% endif %}
                                                    {% if p.image %}
                                                    <figure>
                                                        <a href="{% url 'core:post' p.id %}"><img src="{{p.image.url}}" alt=""></a>
                                                    </figure>
                                                    {% endif %}
                                                    {% if p.video %}
                                                    <figure>
                                                        <a href="{% url 'core:post' p.id %}"><video style="max-height: 400px;" controls>
                                                            <source src="{{p.video.url}}">
                                                          </video></a>
                                                    </figure>
                                                    {% endif %}
                                                    
                                                    <div class="we-video-info">
                                                        <ul style="margin-top: 0;">
                                                            <li>


                                                                {% if p.id in liked_post_ids %}
                                                                <button style="border: 0; background-color: #fdfcfc00;" class="like-button" data-post-id="{{ p.id }}"><div class="likes heart happy" title="Like/Dislike"><i class="fa-solid fa-thumbs-up"></i> <span>{{p.likes}}</span></div></button>
                                                                {% else %}
                                                                <button style="border: 0; background-color: #fdfcfc00;" class="like-button" data-post-id="{{ p.id }}"><div class="likes heart" title="Like/Dislike"><i class="fa-solid fa-thumbs-up"></i> <span>{{p.likes}}</span></div></button>
                                                                {% endif %}
                                                            </li>
                                                            <li>
                                                                <span class="comment" title="Comments">
                                                                <i class="fa fa-commenting"></i>
                                                                <ins>{{p.comments}}</ins>
                                                            </span>
                                                            </li>

                                                            <li>
                                                                <span>
                                                                    {% if p.shared_post %}
                                                                    <a href="{% url 'core:post' p.shared_post.original_post_id %}" title="Share">
                                                                        <i class="fa fa-share-alt"></i>
                                                                    {% else %}
                                                                <a class="share-pst" data-post-id="{{ p.id }}" href="#" title="Share">
                                                                    <i class="fa fa-share-alt"></i>
                                                                </a>
                                                                {% endif %}
                                                                <ins>{{p.shares}}</ins>
                                                            </span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="coment-area">
                                                    <ul class="we-comet">
                                                        {% for c in p.post_comments.all %}
                                                        <li>
                                                            <div class="comet-avatar">
                                                                <img src="{{c.profile.profile_pic.url}}" alt="">
                                                            </div>
                                                            <div class="we-comment">
                                                                <h5><a href="{{c.user.id}}" title="">{{c.profile.firstname}} {{c.profile.lastname}}</a></h5>
                                                                <p>{{c.comment}}</p>
                                                                {% if c.image %}
                                                                <img src="{{c.image.url}}" alt="">
                                                                {% endif %}
                                                                <div class="inline-itms">
                                                                    <span>{{c.created_at|timesince}}</span>
                                                                </div>
                                                            </div>
                                                            {% if c.user == request.user %}
                                                            <div class="more">
                                                                <div class="more-post-optns"><i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                                    <ul>
                                                                        <form method="post">
                                                                            {% csrf_token %}
                                                                            <input type="hidden" name="id" value="{{p.id}}">
                                                                            <input type="hidden" name="cid" value="{{c.cid}}">
                                                                        <li><button style="" type="submit" name="delete_comment" class="fa fa-trash-o"></i> Delete</li>
                                                                        </form>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            {% endif %}
                                                        </li>
                                                        {% endfor %}
                                                        <li class="post-comment">
                                                            <div class="comet-avatar">
                                                                <img src="{{profile_user.profile_pic.url}}" alt="">
                                                            </div>
                                                            <div class="post-comt-box">
                                                                <form id="comment-form" method="POST" enctype="multipart/form-data">
                                                                    {% csrf_token %}
                                                                    <input type="hidden" value="{{p.id}}" name="post_id">
                                                                    <textarea name="comment" placeholder="Post your comment"></textarea>
                                                                    
                                                                    <div class="add-smiles">
                                                                        <div class="uploadimage">
                                                                            <i class="fa fa-image"></i>
                                                                            <label class="fileContainer">
                                                                                <input type="file" name="image">	
                                                                            </label>
                                                                        </div>
                                                                    
                                                                        <button name="add-comment" style="background: none; padding: 0;" type="submit"><i style="color: #1877f2;" class="fas fa-paper-plane"></i></button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="share-form-{{ p.id }}" class="popup-wraper2">
                                        <div class="popup post-sharing">
                                            <div class="popup-meta">
                                                <div class="postbox" >
                                                    <div class="post-comt-box">
                                                        <form method="post" class="share-post" id="share-post-{{p.id}}">
                                                            {% csrf_token %}
                                                            <input type="hidden" value="{{p.id}}" name="original_post_id">
                                                            <textarea placeholder="Add caption..." name="new_post_content"></textarea>
                                                    </div>
                                                    {% if p.image %}
                            
                                                    <div style="display: flex; justify-content: center; align-items: center;"><img style="width: 200px;" src="{{p.image.url}}" alt=""></div>
                                                    {% endif %}
                                                    {% if p.video %}
                                                    <div style="display: flex; justify-content: center; align-items: center;"><video style="width: 300px; margin-bottom: 10px;" src="{{p.video.url}}"></video></div>
                                                    {% endif %}
                                                    <div class="friend-info">
                                                        <figure>
                                                            <img alt="" src="{{profile_pro.profile_pic.url}}">
                                                        </figure>
                                                        <div class="friend-name">
                                                            <ins><a >{{profile_pro.firstname}} {{profile_pro.lastname}}</a> shared <a>{{p.profile.firstname}} {{p.profile.lastname}}'s post</a></ins>
                                                            <span>{{p.content}}</span>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="we-video-info">
                                                        
                                                        <button class="main-btn color" type="submit">Share</button>
                                                        <button class="main-btn cancel" data-ripple="">Close</button>
                                                    </div>
                                                </form>
                                                </div>
                                            </div>	
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% else %}
                                    <div class="central-meta item">
                                        <div class="user-post">
                                            <div class="friend-info">
                                                <figure>
                                                    <img src="{% static 'images/favicon.png' %}" alt="">
                                                </figure>
                                                <div class="friend-name">
                                                    <ins><a title="">Facebook</a></ins>
                                                    <span> by developer</span>

                                                </div>
                                                <div class="post-meta">
                                                    <figure>
                                                        <a><img src="{% static 'images/facebook_post.jpg' %}" alt=""></a>
                                                    </figure>
                                           
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                        <!-- digital sponsors -->
                                     
                                        <!-- video post -->

                                </div>
                                <!-- centerl meta -->
                                <div class="col-lg-3">
                                    <aside class="sidebar static right">
                                        <div class="widget">
                                            <h4 class="widget-title">People You may know</h4>
                                            <ul class="followers">
                                                {% if all_people %}
                                                {% for a in all_people|slice:"3" %}
                                                <li>
                                                    <figure><a href="{% url 'core:profile' a.user.id %}" title=""><img style="height: 40px; object-fit: cover; width: 40px;" src="{{a.profile_pic.url}}" alt="user_image"></figure></a>
                                                    <div class="friend-meta">
                                                        <h4><a href="{% url 'core:profile' a.user.id %}" title="">{{a.firstname}} {{a.lastname}}</a></h4>
                                                        <a href="{% url 'core:profile' a.user.id %}" title="view profile" class="underline">view profile</a>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                                {% endif %}
                                            </ul>
                                            <span><a href="{% url 'core:all-users' %}">See all</a></span>
                                        </div><!-- who's following -->                                        
                                        <div class="widget stick-widget">
                                            <h4 class="widget-title">Pages You may like</h4>
                                            <ul class="followers">
                                                {% if all_pages %}
                                                {% for a in all_pages|slice:"3" %}
                                                <li>
                                                    <figure><a href="{% url 'core:page' a.id %}" title=""><img style="width: 40px; height: 40px; object-fit: cover;" src="{{a.profile_pic.url}}" alt="user_image"></figure></a>
                                                    <div class="friend-meta">
                                                        <h4><a href="{% url 'core:page' a.id %}" title="">{{a.name}}</a></h4>
                                                        <a href="{% url 'core:page' a.id %}" title="view page" class="underline">view page</a>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                                {% endif %}
                                            </ul>
                                            <span><a href="{% url 'core:all-pages' %}">See all</a></span>
                                        </div><!-- who's following -->                                        
                                    </aside>
                                </div>
                                <!-- sidebar -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            function submitForm() {
                document.getElementById("myForm").submit();
            }
        </script>
                {% endblock content %}