{% extends 'core/base.html' %}
{% load static %}
{% block title %}Notifications{% endblock title %}
{% block content %}
	<section>
		<div class="gap2 gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="row merged20" id="page-contents">
							<div class="col-lg-12">
								<div class="central-meta">
									<div class="editing-interest">
										<span class="create-post"><i class="fa fa-bell"></i> All Notifications</span>
										<div class="notification-box">
											{% if notifications %}
											<ul>
												{% for n in notifications  %}
												{% if n.profile and n.post %}
												<li {% if n.seen == False %} style = "background: #857c7c2b" {% endif %}>
													<a href="{% url 'core:post' n.post.id %}">
													<figure><img src="{{n.profile.profile_pic.url}}" alt=""></figure>
													<div class="notifi-meta">
														<p> <span style="font-weight: 800;">{{n.profile.firstname}} {{n.profile.lastname}}</span> {{n.body|safe}}</p>
														<span> {{n.created_at|timesince}} ago</span>
													</div>
												</a>
												</li>
												{% elif n.page and n.post and n.profile %}
												<a href="{% url 'core:post' n.post.id %}">
														<li {% if n.seen == False %} style = "background: #857c7c2b" {% endif %}>
													<figure><img src="{{n.profile.profile_pic.url}}" alt=""></figure>
													<div class="notifi-meta">
														<p><span style="font-weight: 800;">{{n.profile.firstname}} {{n.profile.lastname}}</span> {{n.body|safe}}</p>
														<span> {{n.created_at|timesince}} ago</span>
													</div>
												</a>
												</li>
												{% elif n.page and n.post %}
												<a href="{% url 'core:post' n.post.id %}">
														<li {% if n.seen == False %} style = "background: #857c7c2b" {% endif %}>
													<figure><img src="{{n.page.profile_pic.url}}" alt=""></figure>
													<div class="notifi-meta">
														<p><span style="font-weight: 800;">{{n.page.name}}</span> {{n.body|safe}}</p>
														<span> {{n.created_at|timesince}} ago</span>
													</div>
												</a>
												</li>
												{% elif n.post %}
												<a href="{% url 'core:post' n.post.id %}">
														<li {% if n.seen == False %} style = "background: #857c7c2b" {% endif %}>
													<figure><img src="{{n.sent_to_profile.profile_pic.url}}" alt=""></figure>
													<div class="notifi-meta">
														<p><span style="font-weight: 800;">Hey {{n.sent_to_profile.firstname}},</span> {{n.body|safe}}</p>
														<span> {{n.created_at|timesince}} ago</span>
													</div>
												</a>
												</li>
												{% elif n.friends == True %}
												<a href="{% url 'core:profile' n.profile.user.id %}">
													<li {% if n.seen == False %} style = "background: #857c7c2b" {% endif %}>
												<figure><img src="{{n.profile.profile_pic.url}}" alt=""></figure>
												<div class="notifi-meta">
													<p><span style="font-weight: 800;">{{n.profile.firstname}} {{n.profile.lastname}} </span> {{n.body|safe}}</p>
													<span> {{n.created_at|timesince}} ago</span>
												</div>
											</a>
											</li>
												{% else %}
												<li {% if n.seen == False %} style = "background: #857c7c2b" {% endif %}>
													<figure><img src="{{n.sent_to_profile.profile_pic.url}}" alt=""></figure>
													<div class="notifi-meta">
														<p><span style="font-weight: 800;">{{n.sent_to_profile.firstname}} {{n.sent_to_profile.lastname}}</span> {{n.body|safe}}</p>
														<span> {{n.created_at|timesince}} ago</span>
													</div>
												</li>
												{% endif %}
												{% endfor %}
											</ul>
											{% else %}
											<h2>No Notifications</h2>
											{% endif %}
										</div>
									</div>
								</div>	
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>
	{% endblock content %}