
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'userauths/login.css' %}" />
  </head>
  <body>
    <div class="content">
      <div class="flex-div">
        <div class="name-content">
          <h1 class="logo">Facebook</h1>
          <p>Change Password.</p>
        </div>
          <form method="post">
            {% csrf_token %}
            <input type="password" placeholder="Old Password" required name="old_password"/>
            <input type="password" placeholder="New Password" required name="new_password">
            <input type="password" placeholder="Confirm Password" required name="confirm_password">
            {% if messages %}
	{% for message in messages %}
	<div id="message" class="message-hidden">
		<div class="message-content">
			<div class="alert alert-{{message.tags}}">
				<strong>{{message}}</strong>
			</div>
		</div>
	</div>
	{% endfor %}
	{% endif %}
            <button type="submit" class="login">Change Password</button>
            <hr>
          </form>
      </div>
    </div>
  </body>
</html>
