
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Account</title>
    <link rel="stylesheet" href="{% static 'userauths/login.css' %}" />
  </head>
  <body>
    <div class="content">
      <div class="flex-div">
        <div class="name-content">
          <h1 class="logo">Facebook</h1>
          <p>Are you sure you want to delete your account?<br>Deleting account will delete all of your data and you can't undo this action</p>
        </div>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="login">Delete Account</button>
            <br>
            <a style="background: white; color: #1877F2; border: solid #1877F2;" href="/" class="login">Cancel</a>
        </form>
      </div>
    </div> 
  </body>
</html>
