
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Facebook Login Page</title>
    <link rel="stylesheet" href="{% static 'userauths/login.css' %}" />
  </head>
  <body>
    <div class="content">
      <div class="flex-div">
        <div class="name-content">
          <h1 class="logo">Facebook</h1>
          <p>Connect with friends and the world around you on Facebook.</p>
        </div>
          <form method="post">
            {% csrf_token %}
            <input type="text" placeholder="Email" required name="email"/>
            <input type="password" placeholder="Password" required name="password">
            {% if messages %}
	{% for message in messages %}
	<div id="message" class="message-hidden">
		<div class="message-content">
			<div class="alert alert-{{message.tags}}">
				<strong>{{message}}</strong>
			</div>
		</div>
	</div>
	{% endfor %}
	{% endif %}
            <button type="submit" class="login">Log In</button>
            <hr>
            <a href="{% url 'userauths:signup' %}" class="create-account">Create New Account</a>
          </form>
      </div>
    </div>
  </body>
</html>
